@model KeyGem.ViewModel.NewUserViewModel
@{
    ViewBag.Title = "New";
}


<link rel="stylesheet" href="~/AdminLte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href=".~/AdminLte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/AdminLte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/toastr.css" />


<div class="content-header">
    <div class="container-fluid">
        <h2>New User</h2>
    </div>
</div>
@using (Html.BeginForm("SaveUser", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterModel.Email)
                @Html.TextBoxFor(m => m.RegisterModel.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RegisterModel.Email)
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterModel.Password)
                @Html.TextBoxFor(m => m.RegisterModel.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RegisterModel.Password)
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterModel.ConfirmPassword)
                @Html.TextBoxFor(m => m.RegisterModel.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RegisterModel.ConfirmPassword)
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="mb-3">
                    @Html.LabelFor(m => m.RegisterModel.RoleName, new { @class = "form-label" })
                    @Html.DropDownListFor(m => m.RegisterModel.RoleName, new SelectList(Model.Roles, "name", "name"), "Select user role", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RegisterModel.RoleName)
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterModel.PersonName)
                @Html.TextBoxFor(m => m.RegisterModel.PersonName, new { id = "personName", @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessage("noNameExist")
                <button type="button" class="btn btn-danger" style="margin-top: 20px; padding-left: 30px; padding-right: 30px" id="clearPerson">Clear Person</button>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterModel.PhoneNumber)
                @Html.TextBoxFor(m => m.RegisterModel.PhoneNumber, new { id = "phoneNumber", @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.RegisterModel.PhoneNumber)
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">

            <table id="person" class="table table-bordered table-hover display">
                <thead>
                    <tr>
                        <th>
                            Person
                        </th>
                        <th>
                            Phone Number
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
    <button type="submit" class="btn btn-success" style="margin-bottom: 40px; margin-top: 20px; padding-left: 30px; padding-right: 30px">Save</button>
    <button type="button" class="btn btn-danger" style="margin-bottom: 40px; margin-top: 20px; padding-left: 30px; padding-right: 30px" onclick="location.href='@Url.Action("Index", "Account")'">Cancel</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var table = $("#person").DataTable({
                ajax: {
                    url: "/api/person/",
                    dataSrc: ""
                },
                columns:
                    [
                        {
                            data: null,
                            render: function (data, type, row) {
                                var fullName = row.firstName + " " + row.lastName;

                                return fullName;
                            }
                        },
                        {
                            data: "phone"
                        },
                    ],
                rowCallback: function (row, data) {
                    $(row).on('click', function () {
                        $('#personName').val(data.firstName + ' ' + data.lastName);
                        $('#phoneNumber').val(data.phone);
                    });
                }
            });

            $('#clearPerson').click(function () {
                $('#personName').val(null);
                $('#phoneNumber').val(null);
            });
        });
    </script>
    @if (TempData["CreateUserSuccess"] != null)
    {
        <script>
            $(document).ready(function () {
                toastr.success("User successfully created");
            });
        </script>
    }
    <script src="~/AdminLte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLte/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLte/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
}
<style>
    .field-validation-error {
        color: red;
    }

    .input-validation-error {
        border: 2px solid red;
    }
</style>
